PORT = yourchoosenport
MONGODB_URL = yourmongodburl
MONGODB_PASSWORD = yourmongodbpass
MONGODB_USERNAME = yourmongodbusername
JWT_SECRET = yourjwtsecret
GROQ_API_KEY = yourgroqapikey
NODE_ENV = development

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=yourgmail@gmail.com
MAIL_PASS=yourapppass
MAIL_FROM=yourgmail@gmail.com
BACKEND_URL=yourbackendurl.com
